.product-list-section {
  position: absolute;
  right: 0px;
  width: 80%;
}

.sidebar-section {
  position: absolute;
  left: 0px;
  width: 20%;
  padding: 20px;
}

.category-checkbox {
  text-align: left;
  padding: 0px 20px;
}

.product-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 3rem 0rem;
  list-style: none;
  padding: 20px;
}

.product-name {
  margin: 0px 10px;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
}

.product-price {
  margin: 0px 10px;
  font-size: 20px;
  text-align: left;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 5px;
  border-radius: 5px;
  width: 300px;
  position: relative;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.product-img {
  border-radius: 5px;
  margin: 10px;
  width: 280px;
  height: 280px;
  object-fit: cover;
}
