@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Amita&family=Atma:wght@500&family=Boogaloo&family=Great+Vibes&family=Lobster&family=Merienda&family=Roboto&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  margin: auto;
  padding: 5px 25px;
}

img {
  width: 30px;
}

h1 {
  margin: 0px;
  color: var(--primary-color);
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  fill: var(--primary-color);
  width: 50px;
  object-fit: cover;
}

.brand-logo h1 {
  font-family: "Atma", cursive;
  font-weight: 700;
  font-size: 40px;
}

.brand-logo h1:hover {
  cursor: pointer;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.nav-tab-text {
  margin: 0px 5px;
  font-size: 25px;
  font-weight: bold;
  color: var(--primary-color);
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-tab {
  margin: 0px 5px;
  padding: 5px;
  font-size: 25px;
  color: var(--primary-color);
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  position: relative;
}

.nav-tab .nav-btn-qty {
  position: absolute;
  bottom: 18px;
  left: 20px;
  background-color: var(--secondary-color);
  border-radius: 100%;
  color: white;
  width: 15px;
  height: 14px;
  text-align: center;
  font-size: 10px;
  padding: 3px;
  line-height: 1;
}
.nav-tab:hover {
  color: var(--secondary-color);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 100%;
}

.nav-tab-text:hover {
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
}

.hello-user {
  font-size: 20px;
  color: var(--primary-color);
  width: 10%;
}
