@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Amita&family=Atma:wght@500&family=Boogaloo&family=Great+Vibes&family=Lobster&family=Merienda&family=Roboto&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  margin: none;
  padding: 15px 25px;
}

img {
  width: 30px;
}

h1 {
  margin: 0px;
  color: var(--primary-color);
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  fill: var(--primary-color);
  width: 50px;
  object-fit: cover;
}

.brand-logo h1 {
  font-family: "Atma", cursive;
  font-weight: 700;
  font-size: 40px;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  height: fit-content;
}

.nav-tab {
  margin: 0px 5px;
  font-size: 20px;
  color: var(--primary-color);
}

.nav-tab:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.nav-tab:active {
  font-weight: bold;
}
