.App {
  text-align: center;
  /* background-color: white; */
}

:root {
  --primary-color: #67422cfb;
  --secondary-color: #804674;
  --tertiary-color: #d0b8a8;
  --text-primary-color: #171010;
  --text-secondary-color: #423f3e;
  --text-tertiary-color: #c8cdd6;
  --background-color: #eeeeee;
}

:link {
  text-decoration: none;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}
